html, body{
  height: 100%;
}
#root, .App{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1;
}
.light-app{
  background-color: #fafafa;
}
.dark-app{
  background-color: #212121;
}

/* LESS THAN IDEAL MATERIAL UI OVERRIDES */
.chipLabel{
  padding-left: 5px !important;
}
.love-dogs-hightlight{
  font-weight: 700;
}
